@charset "UTF-8";

@use 'header';
@use 'footer';

/* ABOUT */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', 
  'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  background: #fff;
  color: #333;
  font-weight: bold;
}

img  {
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-title {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.site_text {
  line-height: 2;
}
/* topconsept */
.cover-topconsept {
  height: 100vh;
}
.cover-topconsept::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background: #222;
  z-index: -1;
}
.topconsept-wrapper {
  background-image: url('../img/heading-img.jpg');
  background-size: cover;
  background-position: center;
  width: 76.4%;
  height: 86.5%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.top-title {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: translate(50%, -50%);
  color: #fff;
}
.top-title2 {
  font-size: 2rem;
  font-weight: bold;
}
.sec-title {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: calc(86/72);
}

.sub-title {
  font-size: 2.4rem;
  margin-bottom: 30px;
}


/* vision */
.vision {
  margin: 120px 0 264px 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: relative;
}

/* ceo */
.ceo {
  margin: 0 auto 120px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  .ceo-img {
    width: 420px;
    height: 282px;
    position: absolute;
    top: -144px;
    left: 0;
    z-index: 2;
  }
  .ceo-content {
    max-width: 770px;
    background: #F0F0F0;
    z-index: 1;
    padding: 120px 185px 90px;
  }
}

/* company */
.company {
  margin-bottom: 120px;
  .site-title {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .company-item {
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    margin: 0 0 40px auto;

    dt {
      width: 20%;
      padding: 20px 0;
      border-bottom: 1px solid #DDDDDD;
    }
    dd {
      width: 80%;
      padding: 20px 0;
      border-bottom: 1px solid #DDDDDD;
      font-weight: normal;
    }

  }
}
.map {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  max-width: 1100px;
  width: 98%;
}


/* SP版 */
@media screen and (max-width:1024px) {
  .ceo .ceo-content {
    padding: 160px 185px 90px;
  }
  .top-title {
    right: 10%;
  }


}

@media screen and (max-width:768px) {
  body {
    font-size: 1.4rem;
  }
  .wrapper {
    padding: 0 4vw;
  }
  /* topconsept */
  .cover-topconsept::after {
    width: 73%;
  }
  .top-title {
    top: 40%;
    right: 12%;
  }
  .top-title1 {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
  .top-title2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .sec-title {
    font-size: 5.2rem;
  }
  /* vision */
  .vision {
    margin: 80px 0 211px 19%;
    .site-title {
      margin-bottom: 23px;
    }
  }
  /* ceo */
  .ceo {
    margin: 0 auto 80px;
    .ceo-img {
      width: 320px;
      height: 216px;
      top: -131px;
    }
    .ceo-content {
      max-width: 494px;
      padding: 109px 40px 48px;
    }
  }

  /* company */
  .company {
    margin-bottom: 80px;
    .company-item {
      width: 100%;
      justify-content: flex-end;
      dd {
        width: 75%;
        padding: 20px 10px 20px 20px;
      }
    }
  }
}


/* SP版 */
@media screen and (max-width:480px) {
  .cover-topconsept::after {
    width: 75.4%;
  }
  .top-title {
    top: 50%;
    right: 30%;
    width: 300px;
    letter-spacing: 0;
  }

  /* vision */
  .vision {
    margin: 0;
    padding: 80px 4vw 210px;
  }
  .company {
    .company-item {
      dt {
        width: 25%;
      }
      dd {
        width: 75%;
      }
    }
  }
}