@charset "UTF-8";

@use 'header';
@use 'footer';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', 
  'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  background: #fff;
  color: #333;
}


img  {
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
.site-title {
  font-size: 3.2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
.site_text {
  line-height: 2;
  margin-bottom: 30px;
}
.button {
  width: 160px;
  height: 36px;
  background: #000;
  text-align: center;
}
.button:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.button a {
  font-size: 1.2em;
  line-height: 36px;
  font-weight: bold;
}
/* topconsept */
.cover-topconsept {
  height: 100vh;
}
.cover-topconsept::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background: #222;
  z-index: -1;
}
.topconsept-wrapper {
  background-image: url('../img/kv-img.jpg');
  background-size: cover;
  background-position: center;
  width: 76.4%;
  height: 86.5%;
  position: relative;
  top: 0;
  left: 0;
}

.top-title {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: translate(50%, -50%);
  color: #fff;
}
.top-title1 {
  font-size: 2rem;
  margin-bottom: 5px;
}
.top-title2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.sec-title {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1;
}

/* about */
.about-wrapper {
  max-width: 1100px;
  margin: 120px auto 0;
  background-image: url('../img/about-img.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 4vw 110px;
}
.about_content {
  max-width: 590px;
  background: #fff;
  padding: 50px 30px;
}

/* works_culture */
.works_culture-wrapper {
  margin: 0 auto;
  background: #F0F0F0;
  position: relative;
  top: -100px;
  left: 0;
  z-index: 1;
}
.works_culture {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 30px 60px;
}
.works-wrapper {
  width: 48%;
}
.culture-wrapper {
  width: 48%;
}

/* topics */
.topics-wrapper {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px 60px;

  .button {
    margin: 0 0 0 auto;
  }
}
.topics_content {
  display: flex;
  flex-direction: column;
  align-items: end;
  .topics_text {
    max-width: 700px;
    margin-bottom: 30px;
    .days {
      font-size: 1rem;
      margin-bottom: 13px;
    }
    .text {
      font-size: 1.4rem;
      font-weight: bold;
      border-bottom: 1px solid #DDDDDD;
      padding-bottom: 12px;
    }
  }
}

/* contact */
.contact-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 60px 30px 120px;
  background: #F2F2F2;
  .contact-content {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .contact_text {
    width: 38%;
  }
  .contact_img {
    width: 58%;
  }
}

/* SP版 */
@media screen and (max-width:768px) {
  .button a {
    letter-spacing: 0;
  }
  
  /* topconsept */
  .top-title {
    top: 50%;
    right: 0;
    transform: translate(30%, -50%);
  }
  .top-title1 {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
  .top-title2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .sec-title {
    font-size: 5.6rem;
  }
    /* about */
  .about-wrapper {
    margin: 0 auto;
    padding: 60px 4vw 60px;
  }
  .about_content {
    padding: 40px 30px;
  }
  /* works_culture */
  .works_culture-wrapper {
    background: #F2F2F2;
    top: 0;
    left: 0;
  }
  .works_culture {
    flex-direction: column;
    align-items: start;
    padding: 60px 4vw 40px;
  }
  .works-wrapper {
    width: 520px;
    max-width: 100%;
    margin-bottom: 80px;
  }
  .culture-wrapper {
    width: 520px;
    max-width: 100%;
}

  /* topics */
  .topics-wrapper {
    padding: 40px 4vw 40px;
    .button {
      margin: 0;
    }
  }
  .topics_content {
    align-items: start;
  }
  /* contact */
  .contact-wrapper {
    padding: 40px 4vw 80px;
    .contact-content {
      flex-direction: column-reverse;
      align-items: start;
      .site-title {
        margin-top: 30px;
      }
    }
    .contact_text {
      width: 520px;
      max-width: 100%;
    }
    .contact_img {
      width: 520px;
      max-width: 100%;
    }
  }
    
}
